<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>QuestionarioServlet</servlet-name>
        <servlet-class>Servlet.Questionario.QuestionarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlet.Utente.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaQuestionario</servlet-name>
        <servlet-class>Servlet.Questionario.VisualizzaQuestionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestioneDomande</servlet-name>
        <servlet-class>Servlet.Domande.GestioneDomande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticheServlet</servlet-name>
        <servlet-class>Servlet.Statistiche.StatisticheServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuestionarioServlet</servlet-name>
        <url-pattern>/QuestionarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaQuestionario</servlet-name>
        <url-pattern>/VisualizzaQuestionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestioneDomande</servlet-name>
        <url-pattern>/GestioneDomande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticheServlet</servlet-name>
        <url-pattern>/StatisticheServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>403</error-code>
        <location>/403.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
    </error-page>
    <error-page>
        <error-code>501</error-code>
        <location>/501.jsp</location>
    </error-page>
</web-app>
